/* Fontes e Estilo Base */
body, h1, h2, h3, h4, h5, h6, h7, p, button {
    font-family: 'Luckiest Guy', cursive;
}

.body1, .body2, .body3 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.body1 {
    background-color: #9c5af5;
    color: white;
}

.body2 {
    transition: background-color 0.5s ease;
}

.body3{
    background-image: url("../imagens_menus/minijogo.png"); /* Substitua pelo caminho da sua imagem */
    background-size:cover; /* A imagem cobrirá toda a tela */
    background-position: center; /* Posiciona a imagem no centro */
    background-repeat: no-repeat; /* A imagem não se repetirá */
    background-color: #FFF26D;

}


h1 {
    font-size: 100px;
    text-shadow:
            3px 3px 0px black,
            -3px -3px 0px black,
            3px -3px 0px black,
            -3px 3px 0px black;
    color: white;
    margin-top: 20px;;
}
h2{
    font-size:40px;
    font-weight: bold;
    color: #2BB316;
    text-shadow: 2px 2px 0px black,
    -2px -2px 0px black,
    2px -2px 0px black,
    -2px 2px 0px black;


}
h3{
    font-size:70px;
    font-weight: bold;
    color: #2BB316;
    text-shadow: 2px 2px 0px black,
    -2px -2px 0px black,
    2px -2px 0px black,
    -2px 2px 0px black;
}
h4{
    font-size: 45px;
    text-shadow:
            3px 3px 0px black,
            -3px -3px 0px black,
            3px -3px 0px black,
            -3px 3px 0px black;
    color: white;
    align-items: center;
    margin-top: -10px;
}
h5{
    font-size: 30px;
    text-shadow:
            3px 3px 0px black,
            -3px -3px 0px black,
            3px -3px 0px black,
            -3px 3px 0px black;
    color: white;
    align-items: center;
    margin-top: -10px;

}

h6{
    font-size: 45px;
    text-shadow:
            3px 3px 0px black,
            -3px -3px 0px black,
            3px -3px 0px black,
            -3px 3px 0px black;
    color: white;
    align-items: center;
    margin-top: 10px;
}
#onde{
    font-size: 45px;
    text-shadow:
            3px 3px 0px black,
            -3px -3px 0px black,
            3px -3px 0px black,
            -3px 3px 0px black;
    color: white;
    align-items: center;
    margin-top: -30px;
    margin-bottom: -30px;
}
/* Start Screen */
.start-screen {
    position: relative;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button {
    width: 200px;
    height: 80px;
    background-color: #4CAF50;
    color: white;
    font-size: 40px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    margin-bottom: 200px;

}

.start-button:hover {
    transform: scale(1.1);
}

/* Menu */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

/* Botões */
.button, .botao, .opcao {
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.button {
    width: 400px;
    height: 400px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #FFF26D;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left:25px ;
    margin-right:25px;
    border: 3px solid black;
}

.button:hover, .botao:hover, .opcao:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.botao {
    background-color: #ff69b4;
    padding: 15px 30px;
}
.mute-button {
    position: fixed; /* Fixa o botão no canto */
    top: 20px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    background-color: transparent;
    border: none;
    padding: 0; /* Remove o padding para que a imagem ocupe todo o espaço */
    cursor: pointer;
}

.mute-button img {
    width: 60px; /* Ajuste do tamanho da imagem */
    height: 60px;
}

.opcao {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
}

/* Páginas */
.character-selection, .map-selection {
    display: none;
    text-align: center;
    height: 100vh;
    padding: 20px;
}

.ativa {
    display: block;
}



/* Gráficos e Componentes */
.pie-container {
    display: inline-block;
    position: relative;
    width: 600px;
    height: 600px;
    float: left;
    margin-right: 20px;
    margin-top: -70px;
    margin-left: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.pie-chart {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip-path: circle();
}

.slice {
    position: absolute;
    width: 50%;
    height: 50%;
    border: 1px solid #fff;
    transform-origin: 100% 100%;
    cursor: pointer;
}

.slice-water {
    transform: rotate(0deg);
    background-color: #1E90FF;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -105px 0 0 -105px;
    z-index: 10;
}

.slice1 { transform: rotate(0deg); background-color: #FFD700; }
.slice2 { transform: rotate(89.8deg); background-color: #228B22; }
.slice3 { transform: rotate(178.6deg); background-color: #FF6347; }
.slice4 { transform: rotate(255.6deg); background-color: #FF4500; }
.slice5 { transform: rotate(320.4deg); background-color: #D3D3D3; }
.slice6 { transform: rotate(338.4deg); background-color: #8B4513; }
.slice7 {
    transform: rotate(352.8deg);
    background-color: #8A2BE2;
    width: 50%;
    height: 50%;
}

/* Componentes de Personagem */
.character-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.character-button{
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 400px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 20px 20px;
}
.map-buttons{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Duas colunas de tamanho igual */
        gap: 10px; /* Espaçamento entre os botões */
        justify-content: center; /* Centraliza as colunas horizontalmente */
        align-content: center; /* Centraliza as linhas verticalmente */
        height: 100%; /* Para garantir que o contêiner ocupe a altura da janela */
}
.map-button {
    width: 400px;
    height: 228px;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-size: cover;
    background-position: center;
}
#praia{
    background-image: url("../imagens_menus/cenario3_praia.jpeg");
    background-size: cover;
    margin-left: 270px;
}
#natal{
    background-image: url("../imagens_menus/cenario1_natal.jpeg");
    background-size: cover;
    margin-left: 50px;
}
#aniversario{
    background-image: url("../imagens_menus/cenario1_aniversario.jpeg");
    background-size: cover;
    margin-bottom: 100px;
    margin-left: 50px;
}
#escola{
    background-image: url("../imagens_menus/cenario1_escola.jpeg");
    background-size: cover;
    margin-bottom: 100px;
    margin-left: 270px;
}
.character-button:hover, .map-button:hover {
    transform: scale(1.1);
}

.character-button img, .map-button img {
    width: 100px;
    height: auto;
    margin: 10px 0;
}

.character-name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

@media (max-width: 768px) {
    .img-posi-esquerda img {
        width: 200px;
    }

    .seta-esquerda img {
        width: 40px;
    }
}

@media (min-width: 1200px) {
    .img-posi-esquerda img {
        width: 400px;
    }

    .seta-esquerda img {
        width: 80px;
    }
}